/*
@define-color foreground #5E59D9;
@define-color foreground-inactive #676599;
@define-color background #504F59;
@define-color active #D9C359;
*/

/*
@define-color active #A61F5E;
@define-color active #590202;
@define-color foreground-inactive #260101;
@define-color foreground #0D0000;
@define-color background #BF1111;
*/

@define-color background rgba(185, 94, 130, 1.0);
@define-color background50 rgba(185, 94, 130, 0.5);
@define-color foreground rgba(255, 236, 192, 1.0);
@define-color foreground-inactive rgba(255, 194, 155, 1.0);
@define-color active rgba(243, 159, 159, 1.0);

* {
  all: unset;
  font-family: Tektur;
  font-size: 17px;
  padding: 0;
  margin: 0;
}

#waybar {
  color: @foreground;
  background: linear-gradient(0deg, @background50, @background, @background50);
}

#workspaces button {
  color: @foreground;
  padding-right: 0.35em;
  padding-left: 0.35em;
}

#workspaces button.active:hover {
  color: @foreground;
}

#workspaces button:hover {
  color: @active;
}

#workspaces button.empty {
  color: @foreground-inactive;
}

#workspaces,
#temperature,
#cpu,
#pulseaudio,
#battery,
#memory,
#network,
#tray,
#clock,
#custom-quote
{
  padding-left: 1em;
  padding-right: 1em;
}

#cpu{
  min-width: 100px;
}

#tray{
  padding-right: 1em;
  min-width: 1em
}

#workspaces{
  padding-left: 0.5em;
}

#custom-bar,
#custom-quote
{
  font-family: dragon_alphabet;
  font-size: 25px;
}
