@define-color foreground #FFECC0;
@define-color foreground-inactive #FFC29B;
@define-color background #B95E82;
@define-color active #F39F9F;
/*
@define-color foreground #5E59D9;
@define-color foreground-inactive #676599;
@define-color background #504F59;
@define-color active #D9C359;
*/

/*
@define-color active #A61F5E;
@define-color active #590202;
@define-color foreground-inactive #260101;
@define-color foreground #0D0000;
@define-color background #BF1111;
*/ 


* {
    all: unset;
    font-family: JetBrainsMono Nerd Font;
    font-size: 17px;
    padding: 0;
    margin: 0;
}

#waybar {
    color: @foreground;
    background-color: @background;
}

#workspaces button {
    color: @foreground;
    padding-right: 0.6em;
    padding-left: 0.2em;
}

#workspaces button.active:hover{
    color: @foreground;
}

#workspaces button:hover {
    color: @active;
}

#workspaces button.empty {
    color: @foreground-inactive;
}

#memory,
#custom-platform-profile {
    padding-left: 1em
}

#wireplumber,
#battery,
#idle_inhibitor,
#language,
#network,
#bluetooth,
#tray {
    padding-right: 1em 
}

#pulseaudio {
    margin-right: 10
}

#temperature{
  padding-left: 1em
}
