* {
  all: unset;
  font-family: Tektur;
  font-size: 17px;
  padding: 0;
  margin: 0;
  border-radius: 10px;
}

#waybar {
  color: @foreground;
  background: linear-gradient(0deg, @background50, @background, @background50);
}

#workspaces button {
  color: @foreground;
  padding-right: 0.35em;
  padding-left: 0.35em;
}

#workspaces button.active:hover {
  color: @foreground;
}

#workspaces button:hover {
  color: @active;
}

#workspaces button.empty {
  color: @foreground-inactive;
}

#workspaces,
#temperature,
#cpu,
#pulseaudio,
#battery,
#memory,
#network,
#tray,
#clock,
#custom-quote
{
  padding-left: 1em;
  padding-right: 1em;
}

#cpu{
  min-width: 100px;
}

#tray{
  padding-right: 1em;
  min-width: 1em
}

#workspaces{
  padding-left: 0.5em;
}

#custom-bar,
#custom-quote
{
  font-family: dragon_alphabet;
  font-size: 25px;
}
